.account-wraper2 {
  height: 108vh;
  display: flex;
  align-items: center;
  background-color: #f5f5fc;
}

.account-wraper2 .logo {
  margin-bottom: -20px;
}

a,
a.active,
a:focus,
a:hover {
  text-decoration: none;
  outline: none;
  color: #199A8E;
  font-weight: 500;
}

.mt-40 {
  margin-top: 40px;
}

.mt-0 {
  margin-top: 0px;
}

.text-center p {
  color: #444;
  font-weight: 500;
}

.forgotPass input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #199A8E;;
}

.forgotPass button {
  border-radius: 10px; 
}
#btn_login{
  background-color: #199A8E;
  color: white;
  font-weight: bold;
}