/* Global Styles */
img {
  border-style: none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

/* Section Styling */
.section {
  padding: 100px 0 70px;
}

/* Spacing */
.mb-30 {
  margin-bottom: 30px !important;
}

/* About Images */
.about-images {
  margin-right: 30px;
  position: relative;
  height: auto;
}

.about-images ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.about-images ul li {
  display: inline-flex;
  padding: 0 10px;
  margin-bottom: 20px;
}

.about-images ul li:first-child,
.about-images ul li:nth-child(3) {
  width: 45%;
}

.about-images ul li:nth-child(2),
.about-images ul li:nth-child(4) {
  width: 55%;
}

/* Image Styling */
.about-images .img1 {
  border-radius: 0 60px 60px;
  margin-top: auto;
  margin-left: auto;
  margin: 10px;
}

.about-images .img2 {
  position: absolute;
  top: 10px;
  width: 230px;
  height: 230px;
  border-radius: 0 60px 60px;
  margin-top: auto;
  margin-left: auto;
  margin: 10px;
}

.about-images .img3 {
  border-radius: 60px 60px 60px 0;
  height: 300px;
  width: 100%;
  object-fit: cover;
}

/* Experience Box */
.about-images .exp-bx {
  background-color: #e6e7ff;
  border-radius: 60px 60px 0 60px;
  padding: 60px 0 30px;
  text-align: center;
  line-height: 75px;
  font-size: 120px;
  font-weight: 800;
  color: #199A8E;
  width: 220px;
  position: relative;
  z-index: 2;
}

.about-images .exp-bx span {
  display: block;
  font-size: 18px;
  color: #199A8E;
}

.about-images .exp-bx:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  border: 2px solid #199A8E;
  border-radius: 60px 60px 0 60px;
  z-index: -1;
}

/* Decorative Element */
.about-images:after {
  content: "";
  position: absolute;
  top: 49%;
  left: 43%;
  width: 50px;
  height: 50px;
  background-color: #199A8E;
  border-radius: 15px;
  transform: rotate(45deg);
}

/* Heading Box */
.heading-bx {
  margin-bottom: 45px;
}

.heading-bx h6 {
  font-weight: 700;
  display: inline-block;
  padding: 3px 15px;
  font-size: 18px;
  margin-bottom: 15px;
  color: #199A8E !important;
}

.heading-bx h2.title {
  font-size: 36px;
  font-weight: 700;
  color: #199A8E;
}

.heading-bx p {
  padding-top: 5px;
  font-size: 15px;
  font-weight: 500;
}

/* Feature Box */
.feature1 {
  border-color: #199A8E;
  align-items: center;
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px 20px;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 5px 30px 0 rgba(31, 34, 120, 0.08);
  border: 1px solid #199A8E;
  position: relative;
}

.feature1 .icon-cell {
  margin-right: 30px;
}

.feature1 .icon-cell svg {
  width: 45px;
  height: 45px;
  color: #199A8E;
}

.feature1 .icon-content h4 {
  font-size: 16px;
  font-weight: 600;
  color: #199A8E;
  margin: 0;
}

.feature1:after {
  content: "";
  width: 85px;
  height: 85px;
  background-color: #ecfcff;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  top: -8px;
  left: -12px;
}

/* Buttons */
.btn {
  padding: 15px 30px !important;
  border-radius: 8px !important;
  text-decoration: none;
  font-weight: 500 !important;
  font-size: 14px !important;
  transition: all 0.5s;
  border-width: 2px !important;
  line-height: 1.2 !important;
}

/* Responsive Adjustments */
@media (max-width: 990px) {
  .about-images {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section {
    padding-bottom: 0;
  }

  .heading-bx h2.title {
    font-size: 24px;
  }
  .heading-bx h6 {
    padding: 3px 0px;
  }
  .about-images ul {
    flex-direction: column;
    align-items: center;
  }
  .about-images ul li {
    width: 100% !important;
    text-align: center;
  }
  .about-images .img2 {
    width: 100%;
  }
  .about-images .img3 {
    width: 100%;
    height: auto;
  }
}
